body {
    justify-items: center;
    background-color: powderblue;
    font-family: monospace;
}

main {
        background-color: aliceblue;
        padding: 24px;
        border-radius: 8px;
}

input[type=number], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
    border: 0px;
    padding: 8px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.rumus-content {
    font-size: 20px;
    font-weight: bold;
}

/* Global Usage */
.padding-medium {
    padding: 16px;
}

.bg-cornflowerblue {
    background-color: cornflowerblue;
}

.bg-indianred {
    background-color: indianred;
}

.bg-cadetblue {
    background-color: cadetblue;
}
/* Global Usage */